<nav class="navbar navbar-dark navbar-full bg-inverse">
  <%= link_to "Fridge Door", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">
    <%= nav_link_to "Home", root_path %>
    <%= nav_link_to "Notes", notes_path %>
    <%= nav_link_to "Todos", todos_path %>
    <%= nav_link_to "Weather", weather_index_path %>
    <%= nav_link_to "Trends", trends_path %>

    <li class="nav-item pull-xs-right">
      <%= image_tag(weather.icon_url, alt: weather.description) %>
      <%= weather.temperature %>&deg;

      <%= render "layouts/auth" %>
    </li>
  </ul>
</nav>
